# We ignore all target folders except of ../annotations/target as it contains annotations that
# describe a "target (of a method call)" ... it was probably not a wise choice to name the
# package "target", but this is how it is.
target
!OPAL/bi/src/test/fixtures-java/support/annotations/target

# OTHER PATTERNS
build
.DS_Store
.cache
.classpath
.project
bin
.settings
.scala_dependencies
*.iml
*.ipr
*.iws
.idea
.worksheet
*.hprof
*.gz
*.log
*.aux
Icon?
/shippable/
.history
.tmpBin
.cache-*
Test.class
/.ensime
/.ensime_cache
/project/.ensime
/build.sublime-workspace
/OPAL.sublime-project
/OPAL.sublime-workspace
.ensime_cache
/?.gv
temp
/ensime.sbt
.vscode/settings.json
/project/eclipse.sbt
/DEVELOPING_OPAL/tools/mapping.hermes.txt
/DEVELOPING_OPAL/tools/results.hermes.txt
/OPAL/bi/src/test/fixtures-java/rt-jar-stubs-1.8.0-works.jar
.bloop/
.metals/
.bsp

# Exclude .jvmopts as this specifies custom sbt launching options
.jvmopts

# Contains the machine local settings for the scalac compiler
scalac.options.local

# Contains additional, machine-local settings which do not conflict with
# settings from the build file
local.sbt
.sbtopts
