target
build
build.properties
.DS_Store
.cache
.classpath
.project
bin
.settings
.scala_dependencies
*.iml
*.ipr
*.iws

demo/src/main/scala/de/tud/cs/st/bat/resolved/analyses/~$Chosing the Findbugs Analyses.xlsx
