target
build
.DS_Store
.cache
.classpath
.project
bin
.settings
.scala_dependencies
*.iml
*.ipr
*.iws
.idea
.worksheet
*.hprof
*.gz
*.log
*.aux
Icon?
/shippable/
.history
local.sbt
.tmpBin
.cache-*
TOOLS/ep/lib
TOOLS/bdl/org.opalj.bdl/src-gen/
TOOLS/bdl/org.opalj.bdl/xtend-gen/org/opalj/bdl/scoping/BDLScopeProvider.java
TOOLS/bdl/org.opalj.bdl.ui/xtend-gen/
TOOLS/bdl/org.opalj.bdl.ui/src-gen/
TOOLS/bdl/org.opalj.bdl.tests/src-gen/
TOOLS/bdl/org.opalj.bdl/xtend-gen/
TOOLS/bdl/org.opalj.bdl/.antlr-generator-3.2.0-patch.jar
TOOLS/bdl/org.opalj.bdl/plugin.xml
TOOLS/bdl/org.opalj.bdl.ui/plugin.xml
TOOLS/bdl/org.opalj.bdl/model/
TOOLS/bdl/org.opalj.bdl/src/org/opalj/bdl/BDLRuntimeModule.java
TOOLS/bdl/org.opalj.bdl/src/org/opalj/bdl/BDLStandaloneSetup.java
TOOLS/bdl/org.opalj.bdl.ui/src/org/opalj/bdl/ui/labeling/BDLDescriptionLabelProvider.xtend
TOOLS/bdl/org.opalj.bdl.ui/src/org/opalj/bdl/ui/quickfix/BDLQuickfixProvider.xtend
TOOLS/bdl/org.opalj.bdl/src/org/opalj/bdl/generator/BDLGenerator.xtend
TOOLS/bdl/org.opalj.bdl/src/org/opalj/bdl/scoping/BDLScopeProvider.xtend
