SimplePurityTest
    FieldAccessInformationAnalysis
    L2PurityAnalysis
=>
    org.opalj.br.fpcf.properties.Purity

ExtensiveAnalysesTest
    L0CompileTimeConstancyAnalysis
    StaticDataUsageAnalysis
    InterProceduralEscapeAnalysis
    ReturnValueFreshnessAnalysis
    FieldLocalityAnalysis
    FieldImmutabilityAnalysis
    FieldAccessInformationAnalysis
    L2FieldAssignabilityAnalysis
    ClassImmutabilityAnalysis
    TypeImmutabilityAnalysis
    L2PurityAnalysis
=>
    org.opalj.br.fpcf.properties.EscapeProperty
    org.opalj.br.fpcf.properties.ReturnValueFreshness
    org.opalj.br.fpcf.properties.FieldLocality
    org.opalj.br.fpcf.properties.immutability.FieldAssignability
    org.opalj.br.fpcf.properties.immutability.FieldImmutability
    org.opalj.br.fpcf.properties.immutability.ClassImmutability
    org.opalj.br.fpcf.properties.immutability.TypeImmutability
    org.opalj.br.fpcf.properties.Purity