SimplePurityTest
    L2PurityAnalysis
=>
    org.opalj.br.fpcf.properties.Purity

ExtensiveAnalysesTest
    L0CompileTimeConstancyAnalysis
    StaticDataUsageAnalysis
    InterProceduralEscapeAnalysis
    ReturnValueFreshnessAnalysis
    FieldLocalityAnalysis
    L1FieldMutabilityAnalysis
    ClassImmutabilityAnalysis
    TypeImmutabilityAnalysis
    L2PurityAnalysis
=>
    org.opalj.br.fpcf.properties.EscapeProperty
    org.opalj.br.fpcf.properties.ReturnValueFreshness
    org.opalj.br.fpcf.properties.FieldLocality
    org.opalj.br.fpcf.properties.FieldMutability
    org.opalj.br.fpcf.properties.ClassImmutability
    org.opalj.br.fpcf.properties.TypeImmutability
    org.opalj.br.fpcf.properties.Purity