SimplePurityTest
    L0TACAIAnalysis
    L2PurityAnalysis
    VirtualMethodPurityAnalysis
=>
    org.opalj.fpcf.properties.Purity

ExtensiveAnalysesTest
    L0TACAIAnalysis
    L0CompileTimeConstancyAnalysis
    StaticDataUsageAnalysis
    VirtualMethodStaticDataUsageAnalysis
    InterProceduralEscapeAnalysis
    VirtualCallAggregatingEscapeAnalysis
    ReturnValueFreshnessAnalysis
    VirtualReturnValueFreshnessAnalysis
    FieldLocalityAnalysis
    L1FieldMutabilityAnalysis
    ClassImmutabilityAnalysis
    TypeImmutabilityAnalysis
    L2PurityAnalysis
    VirtualMethodPurityAnalysis
=>
    org.opalj.fpcf.properties.EscapeProperty
    org.opalj.fpcf.properties.ReturnValueFreshness
    org.opalj.fpcf.properties.FieldLocality
    org.opalj.fpcf.properties.FieldMutability
    org.opalj.fpcf.properties.ClassImmutability
    org.opalj.fpcf.properties.TypeImmutability
    org.opalj.fpcf.properties.Purity